body {
  margin: 0;
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

hr {
  border: 5px solid white;
  margin: 0;
}

h1 {
  font-size: 3rem;
}

h3 {
  font-size: 1.5rem;
}

h1, h3 {
  text-transform: uppercase;
  font-style: italic;
}

h3, p {
  color: white;
  width: 70vw;
}

img {
  width: 100%;
}

.text-large {
  font-size: 4rem;
  margin-top: 2rem;
}

.hero {
  width: 100%;
  height: 80vh;

  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;
}

.hero img {
  width: 100%;
  position: absolute;
  z-index: -1;
  align-self: flex-start;
}

img:not(#titleImage) {
  border: 3px solid white;
  padding: 7px;
  width: 70vw;
}

.pizza-page,
.fried-chicken-page,
.salad-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
}

.pizza-page {
  background-color: #ffb100;
}

.fried-chicken-page {
  background-color: #cb00cb;
}

.salad-page {
  background-color: #00aac7;
}
